[Desktop Entry]
Encoding=UTF-8
Version=1.0
Type=Application
Terminal=false
Name=Panic Button
Exec=/opt/usr/bin/panicbutton
Icon=panicbutton
X-Window-Icon=panicbutton
X-HildonDesk-ShowInToolbar=true
X-Osso-Type=application/x-executable
