Source: nrlolsr
Section: user/hidden
Priority: network
Maintainer: David Talmage <talmage@unknown>
Build-Depends: debhelper (>= 5)
Standards-Version: 3.7.3
Homepage: <insert the upstream URL, if relevant>

Package: nrlolsr
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: Open Link State Routing daemon by US Naval Research Lab
 <insert long description, indented with spaces>
XB-Maemo-Display-Name: nrlolsr
